<div class="bonsai">
  <h1>Diff for <%=h @page.title %></h1>
   <div class="diff">
        <table>
          <tbody>
          <% for item in @output %>
          <% puts "*****************************************************************************************" %>
            <% p @output %>
            <% puts item[0] %>
             <% case item[0] %>
                <% when '=' then begin %>
                                <tr>
                                   <td style="text-align:left" bgcolor="F8F8FF"></td>
                                   <td style="text-align:left" bgcolor="F8F8FF"><%= item[1] %></td>
                                </tr>
                                <% end %>
               <% when '+' then begin %>
                                <tr>
                                   <td style="text-align:left" bgcolor="DDFFDD">+</td>
                                   <td style="text-align:left" bgcolor="DDFFDD"><%= item[1] %></td>
                                </tr>
                                <% end %>
               <% when '-' then begin %>
                                <tr>
                                   <td style="text-align:left" bgcolor="FFDDDD">-</td>
                                   <td style="text-align:left" bgcolor="FFDDDD"><%= item[1] %></td>
                                </tr>
                                <% end %>
                <% when '*' then begin %>
                                <tr>
                                   <td style="text-align:left" bgcolor="FFDDDD">*</td>
                                   <td style="text-align:left" bgcolor="F8F8FF">
                                      <% for diff_item in item[1] %>
                                            <% case diff_item[0] %>
                                                <% when '=' then %><span style="background:#F8F8FF"><%= diff_item[1]%></span>
                                                <% when '+' then %><span style="background:#DDFFDD"><%= diff_item[1]%></span>
                                                <% when '-' then %><span style="background:#FFDDDD"><%= diff_item[1]%></span>
                                            <% end %>
                                      <% end %>
                                   </td>
                                </tr>
                                <% end %>
             <% end %>
          <% end %>
          </tbody>
        </table>
  </div>

</div>